<ion-view title="Add a pet" id="page9">
  <ion-content padding="true" style="background: url(img/EeDj3vLqTzix0nVM4xfA_Color20Burst202.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h5 id="addAPet-heading3" style="color:#FDF3F3;">Pet Name</h5>
    <form id="addAPet-form8" class="list">
      <label class="item item-input" id="addAPet-textarea1" name="petname">
        <span class="input-label"></span><textarea placeholder="Pet name" ng-model="data.name"></textarea></label>
    </form>
    <h5 id="addAPet-heading4" style="color:#F3E8E8;">Birthday</h5>
    <form id="addAPet-form10" class="list">
      <label class="item item-input" id="addAPet-input16">
        <span class="input-label">Date</span>
        <input type="date" placeholder="Choose date here" ng-model="data.birthdate">
      </label>
    </form>
    <form id="addAPet-form11" class="list">
      <label class="item item-select" id="addAPet-select2">
        <span class="input-label">Species</span>
        <select ng-model="data.species" ng-options="spec for spec in speciess"> </select>
      </label>
      <label class="item item-select" id="addAPet-select3">
        <span class="input-label">Gender</span>
        <select ng-model="data.gender" ng-options="gen for gen in genders"> </select>
      </label>
      <label class="item item-input" id="addAPet-input18">
        <span class="input-label">Additional comments</span>
        <input type="text" placeholder="" ng-model="data.addcomments">
      </label>
     <button id="addAPet-button23" class="button button-positive button-block icon-left ion-camera">Pick or take a photo</button>
      <div class="item item-body" id="addAPet-list-item-container7">
        <ion-list id="addAPet-list10">
          <ion-item class="item-divider" id="addAPet-list-item-divider6"> Pet Weight</ion-item>
          <label class="item item-input" id="addAPet-input19">
            <span class="input-label">Input</span>
            <input type="text" placeholder="" ng-model="data.weight">
          </label>
        </ion-list>
      </div>
      <ion-toggle toggle-class="toggle-positive" id="addAPet-toggle9">Mark as inactive</ion-toggle>
       <tr ng-repeat="value in mypets">
                <td>{{value.name}}</td>
                <td>{{value.birthdate}}</td>
                <td>{{value.species}}</td>
                <td>{{value.gender}}</td>
                <td>{{value.weight}}</td>
                <td>{{value.addcomments}}</td>
            </tr>
    </form>
     <button ng-click="addpet()" id="requestAnAppointment-button6" class="button button-calm button-block icon-left ion-android-add">Click to add</button> -->
  </ion-content>
</ion-view>