<ion-view style="" class=" " id="page6" title="Signup">
    <ion-content class="has-header" padding="true" style="background: url(img/OVbrUDCOSPegpKC90qOC_Color20Burst203.jpg) center; background-size: cover;">
        <div>
            <img src="img/seed.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 28px;"></div>
        <form name="signupForm" class="list " id="signup-form2">
            <ion-list class=" " id="signup-list3">
                <div class="app-icon"></div>
                <label class="item item-input item-floating-label">
                    <span style="color: #fcfeff;" class="input-label">Name</span>
                    <input style="color: #fcfeff;" ng-model="user.name" type="text" placeholder="Name">
                </label>
                <label class="item item-input item-floating-label">
                    <span style="color: #fcfeff;" class="input-label">Phone</span>
                    <input style="color: #fcfeff;" ng-model="user.phone" type="tel" placeholder="Phone">
                </label>
                <label class="item item-input item-floating-label">
                    <span style="color: #fcfeff;" class="input-label">Email</span>
                    <input style="color: #fcfeff;" ng-model="user.email" type="email" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label">
                    <span style="color: #fcfeff;" class="input-label">Password</span>
                    <input style="color: #fcfeff;" ng-model="user.password" type="password" placeholder="Password">
                </label>
            </ion-list>
            <div style="width: 279px; height: 35px;" class="spacer"></div>
            <button ng-click="signupEmail(signupForm,user)" class=" button button-assertive  button-block  icon-left ion-ios-email-outline " style="border-radius:0px 0px 0px 0px;" id="signup-button3">SIGN UP WITH YOUR EMAIL</button>
            <!-- <button class=" button button-positive  button-block icon-left ion-social-facebook " style="border-radius:0px 0px 0px 0px;" id="signup-button4">SIGN UP WITH FACEBOOK</button> -->
            <a ui-sref="menu.login" id="signUp-button4" class="button button-stable  button-block button-clear">Already have an account? Sign in </a>
        </form>
    </ion-content>
</ion-view>
